html { scroll-behavior: smooth; }
body {
	margin: 0; padding: 0;
	font-family: 'Noto Sans', sans-serif;
	background-color: #ffedd7;
}
#nav {
	position: fixed; top: 0; left: 0; right: 0;
	z-index: 1;
	background-color: white;
	/* text-align: center; */
	/* margin: 3vw; */
	margin-left: 0; margin-right: 0;
	margin-top: 0; margin-bottom: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	/* box-shadow: 0px 0px 5px 5px #ffe600; */
	/* h-offset v-offset blur spread color */
	text-align: right;
}
#nav a {
	margin-right: 1em;
	font-weight: lighter;
	text-decoration: none;
	font-size: large;
}
#nav a:first-child {
	padding-left: 3vw;
	font-weight: bold;
	float: left;
}
#nav a:last-child {
	margin-right: 0;
	padding-right: 3vw;
}
a, a:link, a:hover, a:active, a:visited { color: black; }
#start {
	margin-top: -2em;
	min-height: 100vh;
	margin-bottom: 2em;
	padding: 0;
}
#coloring {
	background-color: #ffe600;
	margin-bottom: 0;
	padding: 0;
	min-height: 100vh;
}
#title {
	padding-top: 40vh;
	font-size: 7vw;
	line-height: 5vh;
}
.info {
	margin-top: 2em;
}
#jump {
	font-size: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#jump a {
	text-decoration: none;
}
.content {
	text-align: center;
	margin-bottom: 3em;
	padding: 0;
	margin-top: 0;
        margin: 3vw;
}
.content:last-child {
	/* margin-top: 40vh; */
	margin-top: 0;
	text-align: right;
}
.content h2 {
	margin-top: 0;
	padding-top: 3em;
}
#category {
	display: flex;
	flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 3em;
        padding: 0;
        margin-top: 5em;
        /* margin: 3vw; */
}
#category a {
	text-align: center;
	position: relative;
	display: inline-block;
	max-width: 35em;
	margin: 1em;
	padding: 0;
}
#category div {
	opacity: 0;
	transition: .5s ease;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 5px);
	width: 100%;
	margin: 0;
}
#category img {
	width: 100%;
	height: auto;
	margin: 0;
}
#category a:hover div, #category a.hovered div {
	opacity: 1;
	background-color: rgba(127, 127, 127, 0.7);
}
.imageview {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
}
.imageview img {
	width: 100%;
	height: 100%;
	max-width: 25em;
	margin: 1em;
	background-color: white;
	-webkit-touch-callout: none;
}
img:-webkit-full-screen {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
img:fullscreen, img:-moz-full-screen, img:-ms-fullscreen {
	width: auto !important;
	height: auto !important;
	margin: auto !important;
	max-width: 100% !important;
	max-height: 100% !important;
}
